/* -- Dashboard Styling -- */

.bags__title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
}

.bags__wrapper {
    width: 1000px;
    border-radius: 20px;
    margin: 0 auto;
}

.bag {
    width: 300px;
    margin: 0 50px 50px 0;
    background: #ffcc00;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

.bag:nth-child(3n) {
    margin: 0 0 50px 0;
}

.bag__content {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.bag img {
    margin: 25px;
}

.bag__text {
    padding: 0 50px 25px;
}

.buttons__wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 475px;
    height: 300px;
    background: #33cccc;
    border-radius: 20px;
    display: flex;
    margin-bottom: 50px;
    cursor: pointer;
}

.button__content {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.button img {
    display: block;
    padding: 25px;
}

.button__text {
    margin: 25px;
}

/* -- Bag Detail Styling -- */

.bagDetail {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

.discs {
    width: 650px;
    border-radius: 20px;
    background-color: #4444440D;
}

.discs__title {
    font-size: 36px;
    font-weight: 700;
    margin: 25px;
}

.discs__wrapper {
    margin: 0 25px;
}

.bagDisc {
    background-color: #ffcc00;
    border-radius: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.bagDisc img {
    margin: 25px;
}

.bagButtons__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bagButton {
    width: 300px;
    height: 300px;
    background: #33cccc;
    border-radius: 20px;
    display: flex;
    margin: 0 0 50px 50px;
    cursor: pointer;
}

.bagButton__content {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.bagButton img {
    display: block;
    margin: 0 auto 25px;
}

.bagButton__text {
    padding: 0 50px;
}








/* -- message styling -- */


.otherMessage {
    background-color: #33cccc26;
    width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
}

.otherMessage__text {
    margin: 25px 0;
    padding: 25px;
}

.otherMessage__sender {
    font-weight: 700;
    margin-bottom: 10px;
}
