/* -- Dashboard Styling -- */

.bags__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.bags__wrapper {
    width: 1000px;
    border-radius: 20px;
    margin: 0 auto;
}

.bag {
    width: 300px;
    margin: 0 50px 50px 0;
    background: #ffcc00;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

.bag:nth-child(3n) {
    margin: 0 0 50px 0;
}

.bag__content {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.bag img {
    margin: 25px;
}

.bag__text {
    padding: 0 50px 25px;
}

.bag__otherText {
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px;
}

.buttons__wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 475px;
    height: 300px;
    background: #33cccc;
    border-radius: 20px;
    display: flex;
    margin-bottom: 50px;
    cursor: pointer;
}

.button__content {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.button img {
    display: block;
    padding: 25px;
}

.button__text {
    margin: 25px;
}

/* -- Bag Detail Styling -- */

.bagDetail {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

.discs {
    width: 650px;
    border-radius: 20px;
    background-color: #4444440D;
}

.discs__title {
    font-size: 36px;
    font-weight: 700;
    margin: 25px;
}

.discs__wrapper {
    margin: 0 25px;
}

.bagDisc {
    background-color: #ffcc00;
    border-radius: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.bagDisc img {
    margin: 25px;
}

.bagButtons__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.otherButtons__wrapper {
    height: 1000px;
    justify-content: start;
}

.bagButton {
    width: 300px;
    height: 300px;
    background: #33cccc;
    border-radius: 20px;
    display: flex;
    margin: 0 0 50px 50px;
    cursor: pointer;
}

.bagButton__content {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.bagButton img {
    display: block;
    margin: 0 auto 25px;
}

.bagButton__text {
    padding: 0 50px;
}

/* -- message styling -- */

.messages__wrapper {
    width: 1000px;
    margin: 0 auto;
}

.dialog__button {
    background-color: #33cccc;
    height: fit-content;
    width: fit-content;
    margin: 25px 0 0;
    padding: 20px 25px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.message {
    background-color: #33cccc26;
    width: 1000px;
    margin: 0 auto 10px;
    border-radius: 20px;
}

.message__content {
    margin: 25px 0;
    padding: 25px;
}

.message__sender {
    font-weight: 700;
    margin-bottom: 10px;
}

.messageButtons {
    float: right;
}

.messageButtons img {
    height: 25px;
    margin: 10px;
    cursor: pointer;
}

.messageButton__edit {
    display: inline-block;
}

.messageButton__delete {
    display: inline-block;
}

.dialog__box {
    position: fixed;
    width: 500px;
    bottom: 200px;
    border: solid 5px #33cccc;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
}

.messageForm {
    width: 450px;
    margin: 25px auto 0;
}

.messageForm__input {
    width: 435px;
    height: 100px;
    border: solid 2px #ffcc00;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    resize: none;
    overflow: auto;
}

.messageForm__submit {
    background-color: #33cccc;
    height: fit-content;
    width: fit-content;
    margin: 10px 0 25px;
    padding: 20px 25px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

/* -- New Bag Form styling -- */

.bagForm {
    width: 1000px;
    margin: 0 auto;
}

.bagForm__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.bagForm__content {
    display: flex;
    flex-direction: column;
}

.bagForm label {
    font-size: 24px;
    margin-bottom: 10px;
}

.bagForm__name {
    width: 600px;
    border: solid 2px #ffcc00;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 25px;
}

.bagForm__submit {
    background-color: #33cccc;
    height: fit-content;
    width: fit-content;
    margin: 10px 0;
    padding: 20px 25px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}
