@import url("https://fonts.googleapis.com/css?family=Roboto");

/* -- Typography -- */
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	line-height: 1;
}

a {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

a:hover {
    color: #ffcc00 !important;
}

a:visited {
    color: white;
}
